html, body {
    margin: 0;
    height: 100%;
}

.main-back{
    background: linear-gradient(45deg, rgb(55, 105, 44), rgb(55, 55, 105)), url('https://wallpapercave.com/wp/mGD11sD.jpg');
    background-blend-mode: screen;
}

#loginbox .title, #loginbox .subtitle{
    text-shadow: 0 2px 5px black;
    font-weight: bold;
}


nav.navbar{
    background-color: rgb(101, 109, 153);
}

nav h1.title, a{
    color: white;
    margin: .5em;
}

div.columns {
    height: 100%;
}

.btnsub {
    color:green;
    justify-content: space-between;
}