html, body {
    margin: 0;
    height: 100%;
}

.main-back{
    background: linear-gradient(45deg, rgb(55, 105, 44), rgb(55, 55, 105)), url('https://wallpapercave.com/wp/mGD11sD.jpg');
    background-blend-mode: screen;
}

#loginbox .title, #loginbox .subtitle{
    text-shadow: 0 2px 5px black;
    font-weight: bold;
}


nav.navbar{
    background-color: rgb(101, 109, 153);
}

nav h1.title, #signout{
    color: white;
    margin: .5em;
}

div.columns {
    height: 100%;
}

.btnsub {
    color:green;
    justify-content: space-between;
}

.banner {
    margin-top: 1em;
    background-image: url('https://stmed.net/sites/default/files/vegetables-wallpapers-28316-7272037.jpg');
    height: 10em;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size:100%;
}

.banner .reviews{
    font-size: 40pt;
    font-weight: 700;
    text-shadow: 0 2px 5px black;
}

.justify-header{
    justify-content: space-between;
}

.signout{
    margin-top: 1em;
    margin-right: 1em;
}

.card{
    margin: 2em;
}